 <header id="header">
					<h1 id="logo"><a href="../../index.html#banner">Carlos Cano</a></h1>
					<nav id="nav">
						<ul>
							<li class="submenu">
								<a href="#">Projects</a>
								<ul>
									<li><a href="../projects/packing-machine.html">Packing Machine</a></li>
									<li><a href="../projects/plastic-injection-mold.html">Plastic Injection</a></li>
									<li><a href="../projects/scissor-lift.html">Scissor Lift</a></li>
                                    <li><a href="../projects/transtibial-prosthetic.html">Transtibial Prosthetic</a></li>
									<li><a href="../projects/water-pump.html">Water Pump</a></li>
								</ul>
                            </li>
                            <li><a href="../../docs/mechanical-engineer-resume.pdf"><strong>Resume</strong></a></li>
                            <li><a href="../contact.html" class="button primary">Contact</a></li>
						</ul>
					</nav>
				</header>